@model Cnblogs.Fluss.Web.Models.HomeBlogPage

@{
    Layout = "_BlogLayout";
}

<h1>Welcome</h1>

<ul>
    @foreach (var post in Model.Posts)
    {
        <li><a href="/p/@(post.Id).html">@post.Title</a></li>
    }
</ul>