@model Cnblogs.Fluss.Web.Models.PostDetailBlogPage

@{
    Layout = "_BlogLayout";
}

<article>
    <h1 class="post-detail-title">@Model.Post.Title</h1>
    <time datetime="@Model.Post.DateCreated.ToString("s")" class="post-detail-create-date">@Model.Post.DateCreated.ToString("yyyy-M-d")</time>
    <main class="post-detail-body">@Html.Raw(Model.Post.Content)</main>
</article>