@model Cnblogs.Fluss.Web.Models.BaseBlogPage

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Model.PageTitle</title>
</head>
<body>

@RenderBody()

</body>
</html>